services:
  backend:
    build: 
      context: ./backend/
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "8000:5000"

  db:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: mypassword
      POSTGRES_USER: myuser
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
        - pgdata:/var/lib/postgresql/data

  frontend:
    build: 
      context: ./frontend/
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "80:80"

volumes:
  pgdata:
    driver: local
